@media all and (max-width: 1000px) {
  .prod{
    width:45%;
    padding:auto;
    font-size:inherit;
    margin:unset;
    margin:10px;
  }

  .products{

    float:left;
  }

  .download {
    margin:center;
    font-size:20px;
  }
 
 .menu-icon{
    display:none;
  }
  
    footer{
    display:flex;
    justify-content:center;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  *{
    float:unset;
    padding:unset;
    margin:unset;
  }

  .menu-icon{
    padding:unset;
    float:right;
    display:block;
  }

  .menu{
    margin-right:unset;
  }

  .header-right{
    display:none;
  }

  .header{
    padding-left: 5px;
    padding-right: 25px;
  }

  .container1{
    padding:unset;
    padding:auto;
  }

  .top-wrapper{
    text-align: center;
  }
  .explore {
    margin-left:30%;
    align-items: center;
    text-align: center;
    width:50%;
  }

  .btn-wrapper{
    align-items:center;
    margin:unset;
  }

  .btn{
    margin:unset;
    margin-left:50%;
    transform:translate(-50%,50%);
  }

  .prod{
    width:70%;
    align-items:center;
    padding: auto;
    margin: 25px 0;
  }

  .prod-icon img{
    width:90%;
  }

  .products{
    align-items:center;
    display:flex;
    flex-direction:column;
    padding:unset;
  }

  .button{
    margin: 20px;
  }

  .footer-click {
    display: none;
  }

  footer {
    float: unset;
  }

  .copyright {
    float: unset;
    text-align: center;
  }
} 
